body {
  background-color:;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;

}
.row{
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-deck{
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-title{
  font-family: 'Mali', cursive;
  color:orange;
}
.card{
 box-shadow: 10px 10px 5px grey;
}
.card-text{
  font-family: 'Mali', cursive;
}
.data{
  padding-top: 150px;
  text-align: center;
  color:white;

  font-size: 40px;
}
p.data{
font-family: 'Mali', cursive;
}
.center{
  font-family: 'Mali', cursive;
}
ul.header {
  background-color: ;
  padding: 0;

  background-image:url(back.jpg);
  height:600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.first{
  border: 1px solid #ddd;
  border-radius: 2spx;
  padding: 12px;


  height: 400px;
  width:400px;
  box-shadow: 10px 10px 8px #888888;
}
.text{
  font-family: 'Mali', cursive;
}
.head {
  font-family: 'Mali', cursive;
  color:orange;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  font-family: 'Mali', cursive;
  font-size: 20px;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li{
  margin-bottom: 10px;
}
